[core]
  quotepath = false
[user]
	email = linxray@gmail.com
	name = Ray
[push]
	default = simple
[color]
	ui = auto

[pretty]
  tree = %C(auto) %h %d %C(blue) %s %C(reset)BY %cn [%cr]

[alias]
  lg = log --color --pretty=tree --graph
  st = status
  ci = commit -m
  co = checkout
  pr = pull --rebase
  cch = config credential.helper 'cache --timeout=3600'
  adu = add -u
  ada = add -A
  df = diff
  pu = push


[credential "https://github.com"]
	username = linxray@gmail.com

[credential "ddns.wzxjkj.com"]
	username = worksangeshitou@163.com
