Xft.dpi: 96
Xft.antialias: true
Xft.hinting: full
Xft.hintstyle: hintslight
Xft.rgba: rgb

! urxvt
URxvt.scrollBar: false
URxvt.scrollstyle: plain
URxvt.font: xft:Source Code Pro:size=13, xft:WenQuanYi Zen Hei Mono:size=13
URxvt.boldFont: xft:Source Code Pro:size=13, xft:WenQuanYi Zen Hei Mono:size=13
URxvt.termName: rxvt-unicode
URxvt.saveLines: 20000
URxvt.foreground: #FFFFFF
URxvt.background: #000000
URxvt.cursorColor: #4D90F8
URxvt.preeditType: Root

! urxvt shortcut
URxvt.perl-ext-common: default,keyboard-select,url-select,clipboard
URxvt.keysym.C-S-S: perl:keyboard-select:activate

! url-select
URxvt.url-select.launcher: google-chrome-stable
URxvt.keysym.C-S-U: perl:url-select:select_next
URxvt.url-select.autocopy: true

! clipboard
URxvt.keysym.C-S-C: perl:clipboard:copy
URxvt.keysym.C-S-V: perl:clipboard:paste

*color0: #2E3436
*color1: #a40000
*color2: #4E9A06
*color3: #C4A000
*color4: #3465A4
*color5: #75507B
*color6: #ce5c00
*color7: #babdb9
*color8: #555753
*color9: #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC
