SUBSYSTEM!="net", GOTO="net_network_naming_end"

SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:e1:99:00:b8:25", NAME="eth0"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="20:7b:d2:69:8a:cf", NAME="eth0"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="80:b6:55:3e:98:2e", NAME="wlan0"
SUBSYSTEM=="net", ACTION=="add", KERNELS=="enp*", NAME="eth%n"
SUBSYSTEM=="net", ACTION=="add", KERNELS=="wlp*", NAME="wlan%n"

LABEL="net_network_naming_end"
