SUBSYSTEM!="net", GOTO="net_network_naming_end"

SUBSYSTEMS=="net", ACTION=="add", KERNEL=="wl*", NAME="wlan%n", GOTO="net_network_naming_end"
SUBSYSTEMS=="net", ACTION=="add", KERNEL=="en*", NAME="eth%n", GOTO="net_network_naming_end"

SUBSYSTEMS=="usb", ACTION=="add", KERNEL=="eth*", NAME="eth%n", GOTO="net_network_naming_end"


LABEL="net_network_naming_end"
