SUBSYSTEM=="backlight", OPTIONS="log_level=debug", ACTION=="add", \
    RUN+="/bin/chmod o+w /sys/class/backlight/intel_backlight/brightness", \
    RUN+="/bin/sh /root/.bin/backlight-default.sh /sys/class/backlight/intel_backlight"
